.container-admin{
    font-family: "Nunito";
}

#title-admin{
    font-family: "Nunito";
    text-align: center;
}

#title-admin-1{
    font-family: "Nunito";
    text-align: center;
    margin-top: 3.5em;
    font-size: 60px;
}

#btn-admin{
    background-color: rgb(46, 139, 87) ;
    border: none;
    border-radius: 7px;
    padding: 10px;
    color: white;
    width: 150px;
    margin-top: 40px;
    font-family: "Nunito";
    font-size: 20px;
}

#btn-input{
    border: 1px solid black;
    border-radius: 7px;
    font-family: "Nunito";
    font-size: 20px;
    margin-top: 2em;
    padding: 7px;
    width: 350px;
}

#div-btn-admin{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
tr > th, tr > td {
    padding: 25px; 
    text-align: center;
}

#btn-logout{
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(26, 26, 109);
    color: white;
    font-family: "Nunito";
    padding: 7px;
    width: 90px;
    margin-left: 35px;
}

#btn-denuncia-post{
    border: 1px solid rgb(26, 26, 109);
    background-color: rgb(76, 122, 221);
    border-radius: 10px;
    padding: 7px;
    width: 190px;
    margin-left: 10px;
    color: white;
}
#btn-banir{
    background-color: rgb(151, 30, 30) ;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    color: white
}

#btn-denuncia{
    background-color: rgb(209, 139, 10) ;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white; 
    opacity: 60%;
}

#ul1>#li1{
    list-style: none;
    margin: 10px;
    padding: 10px;
    font-family: "Nunito";
    border: 1px solid #30405f;
    background-color: #30405f;
    border-radius: 10px;
    color: white;
}

#info-denuncia{
    display: flex;
    font-family: "Nunito";
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#titulo-denuncia{
 font-family: "Nunito";
 text-align: center;
 margin-top: 15px;
}

.btn-cancel1{
 background-color: rgb(185, 32, 32);
 border: none;
 border-radius: 10px;
 padding: 10px;
 width: 100px;
 margin-bottom: 10px;
}

.modal-confirmation{
    font-family: "Nunito";
}