.container-admin{
    font-family: "Nunito";
}

#title-admin{
    font-family: "Nunito";
}

tr > th, tr > td {
    padding: 25px; 
    text-align: center;
}

#btn-banir{
    background-color: rgb(151, 30, 30) ;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    color: white
}

#btn-denuncia{
    background-color: rgb(209, 139, 10) ;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white; 
    opacity: 60%;
}

#ul1>#li1{
    list-style: none;
    margin: 10px;
    padding: 10px;
    font-family: "Nunito";
    border: 1px solid #30405f;
    background-color: #30405f;
    border-radius: 10px;
    color: white;
}

#info-denuncia{
    display: flex;
    font-family: "Nunito";
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#titulo-denuncia{
 font-family: "Nunito";
 text-align: center;
 margin-top: 15px;
}

.btn-cancel1{
 background-color: rgb(185, 32, 32);
 border: none;
 border-radius: 10px;
 padding: 10px;
 width: 100px;
 margin-bottom: 10px;
}

.modal-confirmation{
    font-family: "Nunito";
}