
#root > div {
  min-height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #314263;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  overflow: auto !important;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #314263;
  max-width: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.gif {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif img {
  max-width: 100%;
  height: auto;
}

.main {
  flex: 1;
  padding: 1.7em;
  max-width: 500px;
  margin: auto;
  background-color: #314263 !important;
  border: none;
  border-radius: 30px;
}

.main-container-login,
.main-container-registro {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Poetsen One";
  font-weight: 400;
  font-style: normal;
  justify-content: center;
}

.main-container-login input,
.main-container-registro input,
.main-container-registro select,
.main-container-registro textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.main-container-login button,
.main-container-registro button {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.main-container-login button:hover,
.main-container-registro button:hover {
  background-color: #9d4e2d;
}

.main-container-login p,
.main-container-registro p {
  text-align: center;
  margin-top: 1rem;
  color: white;
}

.main-container-login span,
.main-container-registro span {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.main-container-login input[type="password"],
.main-container-registro input[type="password"] {
  -webkit-text-security: disc;
  -moz-text-security: disc;
}

@media (max-width: 768px) {
  .gif,
  .main {
    flex: none;
    width: 80%;
  }
}
