.body {
  overflow: auto !important;
}
.profile-container {
  height: 100%;
  width: 100%;
  padding-left: 250px;
}

.profile-outros-container {
  height: 100%;
  width: 100%;
  padding-left: 250px;
}
.profile_atualizar{
  width: 80%;
}

.profile-border {
  padding: 50px;
  background-color: #30405f;
  margin: 100px auto 0;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.profile-outros-border {
  padding: 50px;
  font-family: "Nunito";
  background-color: #30405f;
  margin: 100px auto 0;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

#img-perfil {
  border-radius: 100px;
  justify-content: center;
  text-align: center;
  object-fit: contain;
  max-width: 100%;
}

#profile-other-icon {
  object-fit: contain;
  max-width: 100%;
}

.ban-form {
  border-radius: 30px;
  background-color: #de995a;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.info-outros {
  margin-top: 10px;
  color: white;
}

#infos {
  border-radius: 30px;
  background-color: #de995a;
  width: 100%;
  max-width: 800px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 0 auto;
}

#infos p {
  font-size: 18px;
  font-family: "Nunito";
}
#sobre-nome {
  margin-top: 10px;
}

#sobre-nome,
#sobre,
#sobre-info {
  font-family: "Nunito";
  color: white;
}

#texto1,
#texto2 {
  flex: 1;
  margin: 0 10px;
  min-width: 100px;
}

#texto1 p,
#texto2 p {
  margin: 5px 0;
}

#ciptea-link {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

#ciptea-link:hover {
  color: white;
}

.profile-post h3 {
  margin-top: 10px;
  color: white;
}

#no-post {
  margin-top: 10px;
  color: white;
  opacity: 80%;
}

.navbar-mobile {
  display: none;
}

@media (max-width: 800px) {
  .navbar-mobile {
    display: flex;
  }

  /* Esconda a primeira navbar em telas menores, se necessário */
  .navbar-desktop {
    display: none;
  }

  .sidbar {
    display: none;
  }

  .profile-border {
    padding: 20px;
    width: 60%;
    margin-top: 50px;
  }

  #infos {
    padding: 15px;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
  }
  .info-outros {
    padding: 15px;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
  }

  .ban-form {
    padding: 15px;
    align-items: center;
    justify-self: center;
    word-wrap: break-word;
    place-self: center;
    width: 80%;
  }

  .ban-form label {
    display: block;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
  }

  .ban-form button {
    text-align: center;
    width: 50%;
  }

  #texto1,
  #texto2 {
    margin: 10px 0;
    width: 100%;
  }
  .profile-container {
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    word-wrap: break-word;
    text-align: start;
    padding: 0;
  }
  .profile-outros-container {
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    word-wrap: break-word;
    text-align: start;
    padding: 0;
  }

  #img-perfil {
    object-fit: contain;
    max-width: 100%;
    border-radius: 50%;
  }

  .btn-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(151, 30, 30) ;
    border-radius: 10px;
  }

  /* @media (max-width: 570px) {
    .profile-container {
      align-items: start;
      justify-content: start;
      text-align: start;
      width: 10%;
    }
    .profile-border {
      padding: 20px;
      width: fit-content;
      left: 200px;
      top: 40px;
      position: relative;
    }
    .container-home {
      margin-left: 0px;
    }
    .profile-container {
      text-align: start !important;
    }

    #infos {
      flex-direction: column;
      padding: 15px;
      align-items: start;
    }

    #texto1,
    #texto2 {
      margin: 10px 0;
      width: 100%;
    }
  } */
}
