.body {
  overflow: auto !important;
}
.profile-container {
  height: 100%;
  width: 100%;
  padding-left: 250px;
}

.profile-outros-container {
  height: 100%;
  width: 100%;
  padding-left: 250px;
}
.profile_atualizar {
  width: 80%;
}

.profile-border {
  padding: 50px;
  background-color: #30405f;
  margin: 100px auto 0;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.profile-outros-border {
  padding: 50px;
  font-family: "Nunito";
  background-color: #30405f;
  margin: 100px auto 0;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

.profile-post {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#img-perfil {
  border-radius: 100px;
  justify-content: center;
  text-align: center;
  object-fit: contain;
  max-width: 100%;
}

#controle-img {
  place-content: center;
  display: flex;
  align-items: center;
}

#profile-other-icon {
  object-fit: contain;
  max-width: 100%;
}

.ban-form {
  border-radius: 30px;
  background-color: #de995a;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.info-outros {
  margin-top: 10px;
  color: white;
}

#infos {
  border-radius: 30px;
  background-color: #de995a;
  width: 100%;
  max-width: 800px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 0 auto;
}

#infos p {
  font-size: 18px;
  font-family: "Nunito";
}
.followers-section p {
  margin-top: 10px;
  font-family: "Nunito";
  color: white;
}
#sobre-nome,
#sobre-nome1 {
  margin-top: 10px;
}

#sobre-nome {
  display: flex;
  justify-content: start;
}
#sobre-nome1 {
  display: flex;
  justify-content: center;
}

#sobre-nome,
#sobre-nome1,
#sobre,
#sobre-info {
  font-family: "Nunito";
  color: white;
}

#texto1,
#texto2 {
  flex: 1;
  margin: 0 10px;
  min-width: 100px;
}

#texto1 p,
#texto2 p {
  margin: 5px 0;
}

#ciptea-link {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

#ciptea-link:hover {
  color: white;
}

.profile-post h3 {
  margin-top: 10px;
  color: white;
}

#no-post {
  margin-top: 10px;
  color: white;
  opacity: 80%;
}
#btn-seguidores{
  border-radius: 10px;
  background-color: #edb47f;
  border: none;
  font-family: "Nunito";
  color: black;
}
.profile-nome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-right: 40px;
}

#btn-point-personalizar {
  position: relative;
  border: none;
  background-color: #30405f;
}

#btn-personalizar {
  border-radius: 10px;
  border: none;
  background-color: white;
}
.btn-delete {
  border: none;
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgb(151, 30, 30);
  border-radius: 10px;
}
.navbar-mobile {
  display: none;
}

.modal-confirmation1 {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out;
  margin-top: 0px !important;
}

.modal-content1 {
  background-color: #de995a;
  padding: 20px;
  border-radius: 8px;
  min-width: 50%;
  width: 400px !important;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

h5 {
  margin-bottom: 20px;
  font-size: 16px;
  color: #2e2e2e;
}

.modal-buttons1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.btn-confirm1,
.btn-cancel1 {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-confirm1 {
  background-color: #28a745;
  color: white;
}

.btn-cancel1 {
  background-color: #dc3545;
  color: white;
}

.btn-confirm1:hover {
  background-color: #218838;
}

.btn-cancel1.loading {
  background-color: #c82333;
}

.btn-follow {
  width: 80px;
}

.btn-unfollow { 
  margin-left: 30px;
  width: 100px; 
}

#ul-followers{
  padding: 0px;
  margin: 0px;
}

#btn-point-denunciar{
  display: flex;
  position: relative;
  border: none;
  background-color: #30405f;
  align-items: end;
}

#btn-point-denunciar img {
  width: 60px;
  height: 60px;
}


#pontinhos-followers{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-around;
}

#btn-seguir-outros{
border-radius: 10px;
background-color: #95A7E5;
border: none;
font-family: "Nunito";
padding: 2px;
height: 20%;
color: white;
}

#seguidores{
  color: white;
}

#span-followers{
  margin: 0px;
  padding: 0px;
}

.btn-enviar-denuncia-outros{
  background-color: #d1ac46;
  border:none;
  border-radius: 10px;
}
.btn-fechar-denuncia-outros{
  background-color: #30405f;
  border: none;
  border-radius: 10px;
}

#motivo-denuncia{
  border-radius: 10px;
}
.loading {
  display: flex;
  justify-content: center;
}

#modal-content-denuncia{
 border-radius: 10px;
 background-color: #95A7E5;
 font-family: "Nunito";
}


@media (max-width: 800px) {
  .navbar-mobile {
    display: flex;
  }

  .navbar-desktop {
    display: none;
  }

  .sidbar {
    display: none;
  }

  .profile-border {
    padding: 20px;
    width: 60%;
    margin-top: 50px;
  }

  #infos {
    padding: 15px;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
  }
  .info-outros {
    padding: 15px;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
  }

  .ban-form {
    padding: 15px;
    align-items: center;
    justify-self: center;
    word-wrap: break-word;
    place-self: center;
    width: 80%;
  }

  .ban-form label {
    display: block;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
  }

  .ban-form button {
    text-align: center;
    width: 50%;
  }

  #texto1,
  #texto2 {
    margin: 10px 0;
    width: 100%;
  }
  .profile-container {
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    word-wrap: break-word;
    text-align: start;
    padding: 0;
  }
  .profile-outros-container {
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    word-wrap: break-word;
    text-align: start;
    padding: 0;
  }

  .profile-nome {
    gap: 10%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    margin-right: 0px;
  }
  #controle-img {
    justify-content: center;
    display: flex;
  }

  #pontinhos-followers{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column-reverse;
  }

  #btn-seguir-outros{
    border-radius: 10px;
    background-color: #95A7E5;
    border: none;
    font-family: "Nunito";
    padding: 2px;
    width: 100%;
    height: 40%;
    color: white;
  }

  #btn-point-denunciar img {
    width: 60px;
    height: 60px;
  }

  #btn-point-denunciar{
  display: flex;
  position: relative;
  border: none;
  background-color: #30405f;
  justify-content: center;
}
}